*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
  }

body{
    margin:0;
    background-color: #ffffff;
  }

h1{
    color:#49423e;
    font-family: Arial;
    text-align: center;
    font-size: 0.4em;
  }

h2{
    display: flex;
    color:#49423e;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }

li{
    display: flex;
    color:#49423e;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

nav {
    width: 100%;
    background-color: #ffbcd9;
    padding: 2rem; /* Reduced padding for smaller screens */
  }

  nav #nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  }

  nav a {
    padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
    font-size: 1.25rem; /* Adjust font size for smaller screens */
    text-decoration: none;
    color: #49423e;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
    margin: 0.5rem; /* Add some spacing between links */
  }

  nav a:hover {
    color: #ffffff;
  }

.hero{
    background-image: url('../img/bakeryDisplayCase.jpg');
    width:100%;
    height:30vh;
    background-size:cover;
    background-position:center;
  }

.foot{
    width: 100%;
    padding: 4rem 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #49423e;
    font-size: 1em;
    background-color: #ffbcd9;
    display: flex;
    justify-content:flex-start
  }

.container {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
  }

.img {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img img{
    width: 70%;
    display: flex;
  }

.text {
    font-size: 2rem;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }






